.login-form {
  width: 480px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin: 10px 0;
    background: rgba(0,0,0,.2);
    &:focus {
      outline: none;
    }
    border-radius: 5px;
  }
}